<div class="pmpr-table vertically-aligned">
    <form id="admin-page-list" method="get">
        {{ list_table.search_box(items, name)|raw }}
        {{ list_table.display()|raw }}
    </form>
</div>

